body{
background-color: #E6E6E6;
background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07) );
background-size: 7px;}

.panel-body{
    position: relative;
}

.input-group-addon label{
    color: rgba(12, 3, 34, 0.8);
}

.inscrval{
        margin-top: 25px;
}

#save_cine{

    color: #FFF;
    background-color: rgba(48, 21, 61, 0.64);
    border-color: rgba(48, 21, 61, 0.68);
}

/*.search-field{
    height:32px;
}*/

.input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #D8D3E0;
    border: 1px solid #735C7B;
    border-radius: 4px;
}
@media (max-width: 1150px) {
    .input-group-addon{
        padding: 6px 6px;
    }

}

.select2 .input-group{
    margin:0;
}

.input-group{
    margin-top: 10px;
}

.panel{
    width: 80%;
    margin: auto;
    margin-top: 35px;
    border-color: rgba(10, 8, 61, 0.92);
    border-width: 2px;
    background-repeat: repeat;
background: url('../Images/metal.png');
    border-radius: 8px;
    color: #E8E7EC
}

h1{
    margin-bottom: 35px;
    font-size: 40px;
}




@media (max-width: 960px) {
    .panel{
        width: 90%;
        margin: auto;
        margin-top: 25px;
    }
}

p, li {
    margin: 0 0 10px;
    font-size: 16px;
}

/*#form-register input{
    width: 90%;
}*/



#form-register span{
    width:10%;
}



@media (max-width: 1150px) {
/*    #form-register input{
        width: 85%;
    }*/

    #form-register span{
        width:15%;
    }
}
@media (max-width: 760px) {
    #form-register span{
        width:20%;
    }
}
@media (max-width: 400px) {
    #form-register span{
        width:30%;
    }
}
.selection span{
    width: initial !important;
}
li.select2-selection__choice{
    color:#555
}
