body{
background-color: rgb(245, 245, 245);
    color: rgb(29, 15, 51);
     height: 100%;
}

#skel-layers-hiddenWrapper{
    display: none;
}

html{
    height: 100%;
}

.panel-body{
    position: relative;
}

.input-group-addon label{
    color: rgba(12, 3, 34, 0.8);
}

.inscrval{
        margin-top: 25px;
}


/*.search-field{
    height:32px;
}*/

.input-group-addon{
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #EEE;
    border-radius: 4px;
}


.select2 .input-group{
    margin:0;
}

.input-group{
    margin-top: 10px;
}

.panel{
    color: rgb(29, 15, 51);

    width: 80%;

    margin: auto;
     margin-bottom: 35px;
    margin-top: 35px;
    border-width: inherit;
    background-repeat: repeat;
background: url('../Images/metal.png');
    border-radius: 8px;
}

h1{
    margin-bottom: 35px;
    font-size: 180%;
}




@media (max-width: 960px) {
    .panel{
        width: 90%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}


.form-control{
    height: 42px;
}

form textarea.form-control{
    height: 42px;
    padding-top: 10px;
}

form select{
    height: 44px;
}


p, li {
    margin: 0 0 10px;
    font-size: 16px;
}
.select2-selection__rendered li{
    margin: 0;
}

/*.form-register input{
    width: 90%;
}*/




span.start_span{
    width:10%;
    vertical-align: middle;
}




@media (max-width: 1150px) {
/*    .form-register input{
        width: 85%;
    }*/

    span.start_span{
        width:15%;
    }

}

@media (max-width: 760px) {
    span.start_span{
        width:20%;
    }
}
@media (max-width: 400px) {
    span.start_span{
        width:30%;
    }
}
 span.selection{
    width: initial;
}
li.select2-selection__choice{
    color:#555
}
span#basic-addon1, span#basic-addon2{
    width:25%;
}

@media (max-width: 1150px) {
    .input-group-addon{
        padding: 6px 6px;
    }
    .form-control {
        height: 47px;
    }

    form textarea.form-control{
        height: 47px;
    }

    form select{
        height: 49px;
    }

}

                                        /*SPECIAL BUTTONS*/

/**
 * Chunky 3D Web Buttons
 *
 * Inspiration was taken from:
 * - http://www.premiumpixels.com/freebies/chunky-3d-webbuttons-psd/
 */

/**
 * Shadow
 */
input.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }

input.button:active::before { padding: 1px 0 0; }

/**
 * Grey
 */
input.button, a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 15px Arial, Helvetica, Clean, sans-serif;
    /*margin: 0 25px 25px 0;*/
    padding: 16px 28px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }

input.button:hover:enabled, a.button:hover:enabled {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }

input.button:active:enabled, a.button:active:enabled  {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}



/**
 * Dark Grey
 */
input.button.dark_grey:disabled,button.button.dark_grey:disabled,a.button.dark_grey:disabled {
    margin-top: 15px;
    cursor: not-allowed;
    background: #EAEAEA;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#EAEAEA), to(#C7C7C7));
    background: -moz-linear-gradient(#EAEAEA, #C7C7C7);
    background: linear-gradient(#EAEAEA, #C7C7C7);
    border: solid 1px #D2D2D2;
    border-bottom: solid 3px #A5A5A5;
    box-shadow: inset 0 0 0 1px #E3E3E3;
    color: #949494;
    text-shadow: 0 1px 0 #E0E0E0;
}

input.button.dark_grey,button.button.dark_grey,a.button.dark_grey {
    margin-top: 15px;
    white-space: inherit;
    background: #d1d1d1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d1d1d1), to(#afafaf));
    background: -moz-linear-gradient(#d1d1d1, #afafaf);
    background: linear-gradient(#d1d1d1, #afafaf);
    border: solid 1px #b4b4b4;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #e3e3e3;
    color: #555;
    text-shadow: 0 1px 0 #d6d6d6; }

input.button.dark_grey:hover:enabled,a.button.dark_grey:hover:enabled {
    background: #b7b7b7;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b7b7b7), to(#c2c2c2));
    background: -moz-linear-gradient(#b7b7b7, #c2c2c2);
    background: linear-gradient(#b7b7b7, #c2c2c2);
    border: solid 1px #a2a2a2;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #d4d4d4; }

input.button.dark_grey:active,a.button.dark_grey:active {
    background: #afafaf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#afafaf), to(#a9a9a9));
    background: -moz-linear-gradient(#afafaf, #a9a9a9);
    background: linear-gradient(#afafaf, #a9a9a9);
    border: solid 1px #757575;
    box-shadow: inset 0 10px 15px 0 #9a9a9a; }

.button-large span{
    margin: 10px;
    margin-top: 5px;
}
/**/

.form-register > fieldset > label > input[type="checkbox"]{

    margin-left: -22px;

}

.affiche{
    width:90%;
    max-width: 500px;
}

span#select2-select_projection-container{
    width: inherit !important;
}

span.select2-selection.select2-selection--single{
    height: 34px;
}

.selection{
    text-align: left;
}


@media (max-width: 400px) {
   .projection{
    display:none
}
}

.select2-container--default .select2-selection--single{
    background-color: rgb(255, 255, 255);
border-radius: 0px 4px 4px 0px;
    border: none;
}

.select2-container--default .select2-selection--multiple{
    background-color: rgb(255, 255, 255);
border-radius: 0px 4px 4px 0px;
    border: none;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding-left: 12px;
    margin-right: -12px;
    padding-right: 0px;
}

.form-register{
    margin-top: 55px;
}

.checkbox{
    margin-top: 20px;
}

table img{
    width: 100%;
    min-width: 95px;
    max-width: 150px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    vertical-align: middle;
}

.table{
    margin-bottom: 30px;
    margin-top: 30px;
}

th {
    text-align: center;
}


.bootstrap-filestyle{
    width:100%;
}

.group-span-filestyle .glyphicon{
    width: 20px;
}

.group-span-filestyle{
    width: 10%;
}

.group-span-filestyle label{
    width: 100%;
    height: 40px;
    border-right: 0;
    padding-top: 9px;
}

.message{
margin-top: 20px;
}

/*RESPONSIVE TABLE*/

table {
		width: 100%;
		border-collapse: collapse;
	}
	/* Zebra striping */

	th {
		/*background: #3B3E45;
		color: white;*/
		font-weight: bold;
	}
	td, th {
		padding: 6px;
		/*border: 1px solid #ccc;*/
		text-align: center;
	}

.table > thead > tr > th {
border-bottom: 2px solid #C5C5C5;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
border-top: 1px solid #C5C5C5;
}




	/*
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		.table tbody > tr > td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
            text-align: center;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Image du lot"; }
		td:nth-of-type(2):before { content: "Descripion du lot"; }
		td:nth-of-type(3):before { content: "Disponible"; }
		td:nth-of-type(4):before { content: "lot"; }
		td:nth-of-type(5):before { content: "Indisponibilité"; }
		td:nth-of-type(6):before { content: "Caution du lot"; }

        /*
		Label the data Récup liste
		*/
		td.inscrit_proj_list:nth-of-type(1):before { content: "#"; }
		td.inscrit_proj_list:nth-of-type(2):before { content: "Nom"; }
		td.inscrit_proj_list:nth-of-type(3):before { content: "Prénom"; }
		td.inscrit_proj_list:nth-of-type(4):before { content: "Classe"; }

	}

	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body {
			padding: 0;
			margin: 0;
			 }
		}

	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body {
			width: 495px;
		}
	}

tr:nth-of-type(even) {
background: #EFEFEF;
}

thead tr:nth-of-type(odd){
    background-color: rgba(255, 255, 255, 0.59);
}

tr:nth-of-type(odd) {
background: rgba(255, 255, 255, 0.47);
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
background-color: initial;
}
/*BUTTON RATIO*/
input[type="radio"], .checkbox input[type="checkbox"] {
    margin: 6px 7px 0;
    float: none;
}

input{
    line-height:100%;
}

.be_aware{
    color: rgba(189, 0, 0, 0.68);
font-weight: bold;
}

.modal-footer input.button.dark_grey {

    background: linear-gradient(#CB8282, #E74949);
    border: solid 1px #B4B4B4;
    border-bottom: solid 3px #BE7070;
    box-shadow: inset 0 0 0 1px #CAB4B4;
    color: #555;
    text-shadow: inherit;100.667
}

.modal-footer input.button.dark_grey:disabled {
color: rgba(189, 0, 0, 0.38);
    cursor: not-allowed;
border: solid 1px rgba(189, 0, 0, 0.19);
border-bottom-color: rgba(189, 0, 0, 0.19);
border-bottom-style: solid;
border-bottom-width: 3px;
background: linear-gradient(#D1D1D1, #AFAFAF);

}



.modal-footer input.button:hover:enabled {
    background: linear-gradient(#E74949, #CB8282);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #B4B4B4;
    border-bottom-color: #BE7070;
    box-shadow: inset 0 0 0 1px #CAB4B4;
    text-shadow: inherit;
}

.modal-footer input.button:active:enabled {
    border: solid 1px #959595;
    top:2px;}


.modal-footer {
    padding: 0px 20px 20px;
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
}

.modal-title{
    margin: 0;
    line-height: 1.428571429;
    color: rgba(189, 0, 0, 0.68);
}

form button.button{
    font: bold 15px Arial, Helvetica, Clean, sans-serif;

padding: 16px 28px;
}

span.glyphicon.glyphicon-warning-sign{
    color: rgba(189, 0, 0, 0.68);
    margin-left: 5px;
    margin-right: 4px;
}

textarea{
    resize: vertical;
}


/*#skel-layers-wrapper{
    height: 100%;
}*/

.my_embed{
    max-width: 750px;
    margin: auto;
    width: 90%;
    padding-bottom: 20px;
}

.description{
    width: 90%;
margin: auto;
padding-top: 25px;
padding-bottom: 20px;
}

@media (max-width: 900px){
    .modal.in .modal-dialog {
        margin-top: 50px;
    }
}
