html{
    text-align: center;
}

form{
    text-align: center;
}

li{
    text-align: left;
}

#banniere{
    width: 100%
}

.form-register{
    width: 80%;
    margin: auto;
}

@media(max-width:760px){
    .form-register{
        width: 90%;
    }
}
.max{
    min-width: 100%;
    max-width: 100%;
}

.form-label{
    min-width: 40%;
    max-width: 40%;
}

.center{
    text-align: center;
    margin: auto;
    padding: auto;
}


.courts{
    display : flex;
    background-color: darkgray;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    margin-top: -25px;
    min-width : 90%;
    max-width: 92%;
    margin-left : auto;
    margin-right: auto;
    min-height: 200px;
}

.display_none{
    display: none;
}

.desc_video{
    display: none;
    min-width: 100%;
    max-width: 100%;
}

label{
    display: block;
    min-width: 100%;
}

span label{
    max-width: 100%;
    min-width: 100%;
}

input[type="checkbox"] + span{
    width: 33%;
    min-height: 100%;
    border-radius: 15px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    transition: all 1.6s ease-out;
    z-index: 1;
}

input[type="checkbox"]:checked + span{
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    transition: all 1.6s ease-out;
    z-index: 100;
}

input[type="checkbox"]:checked + span ~ span{
    display: none;
}

input[type="checkbox"]:checked + span span{
    display:inline-block;
}
