html{
    text-align: center;
}

form{
    text-align: center;
}

li{
    text-align: left;
}

#banniere{
    width: 100%
}

.form-register{
    width: 80%;
    margin: auto;
}

@media(max-width:760px){
    .form-register{
        width: 90%;
    }
}
.max{
    min-width: 100%;
    max-width: 100%;
}

.form-label{
    min-width: 40%;
    max-width: 40%;
}

.center{
    text-align: center;
    margin: auto;
    padding: auto;
}

