# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/conf/config.php
/includes/INSTALL
/includes/LICENSE
/includes/Mail.php
/includes/Mail/RFC822.php
/includes/tests/validateQuotedString.php
/includes/tests/smtp_error.phpt
/includes/tests/rfc822.phpt
/includes/tests/9137_2.phpt
/includes/tests/9137.phpt
/includes/tests/13659.phpt
/includes/template.spec
/includes/scripts/peclcmd.php
/includes/scripts/pecl.sh
/includes/scripts/pecl.bat
/includes/scripts/peardev.sh
/includes/scripts/peardev.bat
/includes/scripts/pearcmd.php
/includes/scripts/pear.sh
/includes/scripts/pear.bat
/includes/package.dtd
/includes/System.php
/includes/README
/includes/PEAR5.php
/includes/PEAR/XMLParser.php
/includes/PEAR/Validator/PECL.php
/includes/PEAR/Validate.php
/includes/PEAR/Task/Windowseol/rw.php
/includes/PEAR/Task/Windowseol.php
/includes/PEAR/Task/Unixeol/rw.php
/includes/PEAR/Task/Unixeol.php
/includes/PEAR/Task/Replace/rw.php
/includes/PEAR/Task/Replace.php
/includes/PEAR/Task/Postinstallscript/rw.php
/includes/PEAR/Task/Postinstallscript.php
/includes/PEAR/Task/Common.php
/includes/PEAR/RunTest.php
/includes/PEAR/Registry.php
/includes/PEAR/REST/13.php
/includes/PEAR/REST/11.php
/includes/PEAR/REST/10.php
/includes/PEAR/REST.php
/includes/PEAR/Packager.php
/includes/PEAR/PackageFile/v2/rw.php
/includes/PEAR/PackageFile/v2/Validator.php
/includes/PEAR/PackageFile/v2.php
/includes/PEAR/PackageFile/v1.php
/includes/PEAR/PackageFile/Parser/v2.php
/includes/PEAR/PackageFile/Parser/v1.php
/includes/PEAR/PackageFile/Generator/v2.php
/includes/PEAR/PackageFile/Generator/v1.php
/includes/PEAR/PackageFile.php
/includes/PEAR/Installer/Role/Www.xml
/includes/PEAR/Installer/Role/Www.php
/includes/PEAR/Installer/Role/Test.xml
/includes/PEAR/Installer/Role/Test.php
/includes/PEAR/Installer/Role/Src.xml
/includes/PEAR/Installer/Role/Src.php
/includes/PEAR/Installer/Role/Script.xml
/includes/PEAR/Installer/Role/Script.php
/includes/PEAR/Installer/Role/Php.xml
/includes/PEAR/Installer/Role/Php.php
/includes/PEAR/Installer/Role/Ext.xml
/includes/PEAR/Installer/Role/Ext.php
/includes/PEAR/Installer/Role/Doc.xml
/includes/PEAR/Installer/Role/Doc.php
/includes/PEAR/Installer/Role/Data.xml
/includes/PEAR/Installer/Role/Data.php
/includes/PEAR/Installer/Role/Common.php
/includes/PEAR/Installer/Role/Cfg.xml
/includes/PEAR/Installer/Role/Cfg.php
/includes/PEAR/Installer/Role.php
/includes/PEAR/Installer.php
/includes/PEAR/Frontend/CLI.php
/includes/PEAR/Frontend.php
/includes/PEAR/FixPHP5PEARWarnings.php
/includes/PEAR/Exception.php
/includes/PEAR/ErrorStack.php
/includes/PEAR/Downloader/Package.php
/includes/PEAR/Downloader.php
/includes/PEAR/DependencyDB.php
/includes/PEAR/Dependency2.php
/includes/PEAR/Config.php
/includes/PEAR/Common.php
/includes/PEAR/Command/Test.xml
/includes/PEAR/Command/Test.php
/includes/PEAR/Command/Remote.xml
/includes/PEAR/Command/Remote.php
/includes/PEAR/Command/Registry.xml
/includes/PEAR/Command/Registry.php
/includes/PEAR/Command/Pickle.xml
/includes/PEAR/Command/Pickle.php
/includes/PEAR/Command/Package.xml
/includes/PEAR/Command/Package.php
/includes/PEAR/Command/Mirror.xml
/includes/PEAR/Command/Mirror.php
/includes/PEAR/Command/Install.xml
/includes/PEAR/Command/Install.php
/includes/PEAR/Command/Config.xml
/includes/PEAR/Command/Config.php
/includes/PEAR/Command/Common.php
/includes/PEAR/Command/Channels.xml
/includes/PEAR/Command/Channels.php
/includes/PEAR/Command/Build.xml
/includes/PEAR/Command/Build.php
/includes/PEAR/Command/Auth.xml
/includes/PEAR/Command/Auth.php
/includes/PEAR/Command.php
/includes/PEAR/ChannelFile/Parser.php
/includes/PEAR/ChannelFile.php
/includes/PEAR/Builder.php
/includes/PEAR/Autoloader.php
/includes/PEAR.php
/includes/OS/Guess.php
/includes/Mail/smtpmx.php
/includes/Mail/smtp.php
/includes/Mail/sendmail.php
/includes/Mail/null.php
/includes/Mail/mock.php
/includes/Mail/mail.php
/undefined
